<div class="forgot-password-page page-container ss-typography">
  <section class="inner-section ss-animatable ss-has-children">

    <div id="forgot-password">
      <h2><%= Spree.t(:forgot_password) %></h2>

      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>

      <p><%= Spree.t(:instructions_to_reset_password) %></p>

      <%= form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path do |f| %>
        <p>
          <%= f.email_field :email, placeholder: "email address..." %>
        </p>
        <p class="submit">
          <%= f.submit Spree.t(:reset_password), :class => 'button primary' %>
        </p>
      <% end %>
    </div>

  </section>
</div>