
  <li class="product-member-listitem">
    <div class="product-member">
      <div class="product-member-image-container">
        <figure class="product-member-img">
          <% url = product_url(product, :taxon_id => @taxon.try(:id)) %>
          <%= link_to large_image(product, :itemprop => "image"), url, :itemprop => 'url' %>
        </figure>
        <div class="product-member-hover">
          <div class="product-member-hover-center">
            <ul class="product-member-icons">
              <li><a href="<%= url %>"><span class="icon-search2" aria-hidden="true"></span> View Product</a></li>
              <li><%= render partial: 'taxons/product_add_to_cart', locals: { url: url, product: product } %></li>
            </ul>
          </div>
        </div>
      </div>
      <a href="<%= url %>"><h2 class="product-member-name"><%= product.name %></h2></a>
      <a href="<%= url %>"><h2 class="product-member-price"><%= current_currency + display_price(product) %></h2></a>
      <div class="product-member-separator"></div>
      <p class="product-member-description"><%= product.description.html_safe %></p>
    </div>
  </li>
