<div class="page-container ss-typography">
  <section class="inner-section ss-animatable ss-has-children">
      <div class="product-categories-1-cover"></div>
      <h1 class="section-title"><%= @taxon.name %></h1>
      <div class="section-title-separator"></div>
      <div class="gap" style="height:20px;"></div>
      <% if @products.any? %>
        <% @products.each_with_index do |product, index| %>
          <% if index % 3 == 0 %>
            <ul class="product-members">
          <% end %>
            <%= render partial: 'taxons/product', locals: { product: product, taxon: @taxon, index: index } %>
          <% if index % 3 == 2 %>
            </ul>
          <% end %>
        <% end %>

        <%= render 'shared/back' %>
      <% else %>
        <p style="text-align: center;">No products found.</p>
      <% end %>
  </section>
</div>