<% content_for :page_title do %>
  Subscriptions
<% end %>

<div>
  <p>Download: <%= link_to "CSV", subscriptions_admin_reports_csv_path %></p>
</div>

<hr>

<table class="admin-report">
  <thead>
    <tr>
      <th>Email</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |row| %>
      <tr class="align-center">
        <td><%= row.email %></td>
        <td><%= row.active %></td>
        <td>
          <% if row.active == true %>
            <%= link_to "Unsubscribe", subscription_path(row), method: 'patch' %>
          <% else %>
            <%= link_to "Subscribe", subscription_path(row), method: 'patch' %>
          <% end %>
          |
          <%= link_to "Delete", subscription_path(row), method: 'delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

