<div class="contact-page page-container ss-typography">
  <section class="inner-section ss-animatable ss-has-children">

    <div class="contact-box">

      <div class="ss-row contact-header">
        <div class="ss-twelvecol">
          <h1>Order Form</h1>
        </div>
      </div>

      <div class="ss-row contact-description">
        <div class="ss-twelvecol">
          <p>To place an order on a theme package, fill up the form below with your email, phone, and date for the ocassion. We will get back to you soon once we receive your order.</p>
        </div>
      </div>

      <%= form_tag "/service-order", method: 'post' do |f| %>

        <div class="ss-row service-order">
          <div class="ss-fourcol">
            <p>Package:</p>
          </div>
          <div class="ss-eightcol ss-last">
            <% if @selected && @selected.strip != "" %>
              <input id="selected" type="hidden" value="<%= @selected %>">
            <% end %>
            <select name="package" required>
              <option value="">-- Select a Package --</option>
              <option value="VN Theme">-- Vintage Nautical Theme (VN Theme)</option>
              <option value="VN Theme Full Classic Package">---- VN Theme Full Classic Package - $1088</option>
              <option value="VN Theme Rental Classic Package">---- VN Theme Rental Classic Package - $428</option>
              <option value="VN Theme Full Premium Package">---- VN Theme Full Premium Package - $2188</option>
              <option value="VN Theme Rental Premium Package">---- VN Theme Rental Premium Package - $838</option>
              <option value="SS Theme">-- Summer Splendor Theme (SS Theme)</option>
              <option value="SS Theme Full Classic Package">---- SS Theme Full Classic Package - $1088</option>
              <option value="SS Theme Rental Classic Package">---- SS Theme Rental Classic Package - $428</option>
              <option value="SS Theme Full Premium Package">---- SS Theme Full Premium Package - $2188</option>
              <option value="SS Theme Rental Premium Package">---- SS Theme Rental Premium Package - $838</option>
              <option value="SR Theme">-- Sweet Romance Theme (SR Theme)</option>
              <option value="SR Theme Full Classic Package">---- SR Theme Full Classic Package - $1368</option>
              <option value="SR Theme Rental Classic Package">---- SR Theme Rental Classic Package - $568</option>
              <option value="SR Theme Full Premium Package">---- SR Theme Full Premium Package - $2518</option>
              <option value="SR Theme Rental Premium Package">---- SR Theme Rental Premium Package - $1088</option>
              <option value="MA Theme">-- Modern Asian Theme (MA Theme)</option>
              <option value="MA Theme Full Classic Package">---- MA Theme Full Classic Package - $1368</option>
              <option value="MA Theme Rental Classic Package">---- MA Theme Rental Classic Package - $568</option>
              <option value="MA Theme Full Premium Package">---- MA Theme Full Premium Package - $2518</option>
              <option value="MA Theme Rental Premium Package">---- MA Theme Rental Premium Package - $1088</option>
              <option value="GG Theme">-- Gorgeous Glamor Theme (GG Theme)</option>
              <option value="GG Theme Full Classic Package">---- GG Theme Full Classic Package - $1368</option>
              <option value="GG Theme Rental Classic Package">---- GG Theme Rental Classic Package - $568</option>
              <option value="GG Theme Full Premium Package">---- GG Theme Full Premium Package - $2518</option>
              <option value="GG Theme Rental Premium Package">---- GG Theme Rental Premium Package - $1088</option>
            </select>
          </div>
        </div>

        <div class="ss-row service-order service-order-name">
          <div class="ss-fourcol">
            <p>Name:</p>
          </div>
          <div class="ss-eightcol ss-last">
            <input type="text" name="name" placeholder="your name..." required>
          </div>
        </div>

        <div class="ss-row service-order">
          <div class="ss-fourcol">
            <p>Email Address:</p>
          </div>
          <div class="ss-eightcol ss-last">
            <input type="email" name="email" placeholder="your email address..." required>
          </div>
        </div>

        <div class="ss-row service-order">
          <div class="ss-fourcol">
            <p>Phone:</p>
          </div>
          <div class="ss-eightcol ss-last">
            <input type="text" name="phone" placeholder="phone..." required>
          </div>
        </div>

        <div class="ss-row service-order service-order-date">
          <div class="ss-fourcol">
            <p>Ocassion Date:</p>
          </div>
          <div class="ss-eightcol ss-last">
            <input class="datepicker" type="text" name="ocassion_date" placeholder="date..." required>
          </div>
        </div>

        <script>
          $(function() {
            $('.datepicker').datepicker({dateFormat: 'dd-M-yy'});

          });
        </script>

        <div class="ss-row service-order service-order-comments">
          <div class="ss-fourcol">
            <p>Comments:</p>
          </div>
          <div class="ss-eightcol ss-last">
            <textarea name="comments" placeholder="drop us a message..." rows="10" cols="50"></textarea>
          </div>
        </div>

        <div class="ss-row contact-submit">
          <div class="ss-twelvecol">
            <input type="submit" class="button gray" value="Submit">
          </div>
        </div>

      <% end %>

    </div>

  </section>
</div>

<script>
  var selected_package = $("#selected").val()
  var selected_option = $("option[value='"+selected_package+"']")
  $(selected_option).attr('selected', 'selected')
</script>