<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h2>Service Order from OneMoment.com.sg</h2>
  <hr>
  <h4>Package:</h4>
  <p> <%= @service_order_form.package %> </p>
  <hr>
  <h4>Email:</h4>
  <p> <%= @service_order_form.name %> </p>
  <hr>
  <h4>Email:</h4>
  <p> <%= @service_order_form.email %> </p>
  <hr>
  <h4>Phone:</h4>
  <p> <%= @service_order_form.phone %> </p>
  <hr>
  <h4>Ocassion Date:</h4>
  <p> <%= @service_order_form.ocassion_date %> </p>
  <hr>
  <h4>Comments:</h4>
  <p> <%= @service_order_form.comments %> </p>
</body>
</html>