<table id="cart-detail-table">
  <thead>
    <tr class="cart-items-headers">
      <th class="cart-item-description-header" colspan="2"><%= Spree.t(:item) %></th>
      <th class="cart-item-price-header"><%= Spree.t(:price) %></th>
      <th class="cart-item-quantity-header"><%= Spree.t(:qty) %></th>
      <th class="cart-item-total-header"><%= Spree.t(:total) %></th>
      <th class="cart-item-delete-header"></th>
    </tr>
  </thead>
  <tbody id="cart-line-items">
    <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: {order_form: order_form} %>
  </tbody>

  <% if @order.adjustments.exists? || @order.line_item_adjustments.exists? || @order.shipment_adjustments.exists? || @order.shipments.any? %>
    <tbody id="cart-subtotal-outer">
      <tr class="cart-subtotal">
        <td colspan="4" align='right'><h5><%= Spree.t(:cart_subtotal, :count => @order.line_items.sum(:quantity)) %></h5></th>
        <td colspan><h5><%= order_form.object.display_item_total %></h5></td>
        <td></td>
      </tr>
    </tbody>
    <%= render "spree/orders/adjustments" %>
  <% end %>

  <tr class="cart-total">
    <td colspan="4" align='right'><h5><%= Spree.t(:total) %></h5></th>
    <td colspan><h5><%= order_form.object.display_total %></h5></td>
    <td></td>
  </tr>

</table>
