<% variant = line_item.variant %>
<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <tr class="line-item">
    <td class="cart-item-image">
      <% if variant.images.length == 0 %>
        <%= link_to product_image(variant.product), variant.product %>
      <% else %>
        <%= link_to image_tag(variant.images.first.attachment.url(:product)), variant.product %>
      <% end %>
    </td>
    <td class="cart-item-description">
      <h4><%= link_to line_item.name, product_path(variant.product) %></h4>
      <p>
        <% if variant.options_text && variant.options_text.strip != "" %>
          <span class="line-item-variant">
            <%= variant.options_text + "." %>
          </span>
        <% end %>
        
        <% if line_item.insufficient_stock? %>
          <span class="out-of-stock">
            <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
          </span>
        <% end %>
        
        <span class="line-item-description">
          <%= line_item_description_text(line_item.description) %>
        </span>
      </p>
    </td>
    <td class="cart-item-price">
      <%= line_item.single_money.to_html %>
    </td>
    <td class="cart-item-quantity">
      <%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity", :size => 5 %>
    </td>
    <td class="cart-item-total">
      <%= line_item.display_amount.to_html unless line_item.quantity.nil? %>
    </td>
    <td class="cart-item-delete">
      <%= link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}" %>
    </td>
  </tr>
<% end %>
