<% @body_id = 'cart' %>
<div class="page-container ss-typography cart-page">
  <section class="inner-section ss-animatable ss-has-children">

    <div class="cart-box">
      <h1 class="cart-section-title"><%= Spree.t(:shopping_cart) %></h1>

      <%= render partial: "spree/shared/error_messages", locals: { target: @order } %>

      <% if @order.line_items.empty? %>

        <div class="empty-cart">
          <p><%= Spree.t(:your_cart_is_empty) %></p>
          <p><%= link_to Spree.t(:continue_shopping), root_path, :class => 'ss-button black' %></p>
        </div>

      <% else %>

        <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
          <div class="cart-items">
            <%= render :partial => 'spree/orders/form', :locals => { :order_form => order_form } %>
          </div>

          <div class="cart-buttons">
            <%= order_form.text_field :coupon_code, :size => 10, :placeholder => Spree.t(:coupon_code) %>
            <%= button_tag :class => 'primary', :id => 'update-button' do %>
              <%= Spree.t(:update) %>
            <% end %>
            <%= button_tag :class => 'button checkout primary', :id => 'checkout-link', :name => 'checkout' do %>
              <%= Spree.t(:checkout) %>
            <% end %>
          </div>
        <% end %>

        <div id="empty-cart">
          <%= form_tag empty_cart_path, :method => :put do %>
            <p id="clear-cart-link">
            <%= submit_tag Spree.t(:empty_cart), :class => 'button gray' %>
            </p>
          <% end %>
        </div>
        
        <div class="continue">
          <p><%= link_to Spree.t(:continue_shopping), root_path, :class => 'ss-button primary' %></p>
        </div>

      <% end %>

    </div>
  </section>
</div>