
<div style="padding: 50px;">
  <h1>Print: Order <%= @order.number %></h1>
  <%= render partial: 'spree/orders/order_details', locals: { order: @order } %>
</div>

<script>
  window.print();
</script>