<div class="page-container ss-typography order-page">
  <section class="inner-section ss-animatable ss-has-children">

    <div class="order-box">
      <div id="print-order">
        <%= link_to "/orders/#{@order.number}/print" do %>
          <span class="icon-print" aria-hidden="true"></span> Print
        <% end %>
      </div>

      <div id="order_summary" data-hook>
        <h1><%= accurate_title %></h1>
        <% if order_just_completed?(@order) %>
          <strong><%= Spree.t(:thank_you_for_your_order) %></strong>
        <% end %>

        <%= render partial: 'spree/orders/order_details', locals: { order: @order } %>

      </div>
    </div>

  </section>
</div>