<div class="ss-row checkout-form-address">
  <div class="ss-sixcol billing-address">
    <div id="billing">
      <h2>Billing Address</h2>
      <%= form.fields_for :bill_address do |bill_form| %>
        <p class="field checkbox">
          <% if try_spree_current_user %>
            <%= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
            <%= label_tag :save_user_address, Spree.t(:save_my_address) %>
          <% end %>
        </p>
        <%= render :partial => 'spree/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address } %>
      <% end %>
    </div>
  </div>

  <div class="ss-sixcol ss-last shipping-address">
    <div id="shipping">
      <h2>Shipping Address</h2>
      <%= form.fields_for :ship_address do |ship_form| %>
        <p class="field checkbox">
          <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address? %>
          <%= label_tag :order_use_billing, Spree.t(:use_billing_address), :id => 'use_billing' %>
        </p>
        <%= render :partial => 'spree/address/form', :locals => { :form => ship_form, :address_type => 'shipping', :address => @order.ship_address } %>
      <% end %>
    </div>
  </div>
</div>

<div class="ss-row checkout-form-buttons">
  <div class="ss-twelvecol ss-last">
    <%= submit_tag "Continue", :class => 'continue button primary' %>
  </div>
</div>