<div class="ss-row checkout-form-delivery">

  <div class="ss-eightcol">
    <%= render :partial => 'checkout_order_details', :locals => { :order => @order } %>
  </div>

  <div class="ss-fourcol ss-last">
    <div class="ss-row delivery-date">
      <div class="ss-twelvecol">
        <h2>Delivery Date</h2>
        <%= form.text_field :requested_delivery_date, :class => 'datepicker' %>
        <script>
          $(function() {
            $('.datepicker').datepicker({dateFormat: 'dd-M-yy'});

          });
        </script>
      </div>  
    </div>

    <div class="ss-row delivery-method">
      <div class="ss-twelvecol">
        <h2>Delivery Method</h2>
        <%= form.fields_for :shipments do |ship_form| %>
          <ul class="field radios shipping-methods">
            <% ship_form.object.shipping_rates.each do |rate| %>
              <li class="shipping-method">
                <label>
                  <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
                  <span class="rate-name"><%= rate.name %></span>
                  <span class="rate-cost"><%= rate.display_cost %></span>
                </label>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="ss-row remarks">
      <div class="ss-twelvecol">
        <h2>Remarks</h2>
        <%= form.text_area :special_instructions, rows: "4", cols:"50" %>
      </div>  
    </div>

    
    <div class="ss-row checkout-form-buttons">
      <div class="ss-twelvecol">
        <%= submit_tag "Continue", :class => 'continue button primary' %>
      </div>
    </div>
  </div>

  

</div>