<div class="ss-row checkout-form-payment">
  <div class="ss-eightcol">
    <%= render :partial => 'checkout_order_details', :locals => { :order => @order } %>
  </div>

  <div class="payment ss-fourcol ss-last">
    <h2>Proceed to Payment</h2>
    <ul id="payment-methods" data-hook>
      <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
          <fieldset>
            <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
          </fieldset>
        </li>
      <% end %>
    </ul>
  </div>
</div>