<div class="page-container ss-typography checkout-page">
  <section class="inner-section ss-animatable ss-has-children">

    <div class="checkout-box">
      <div class="checkout-header ss-row">
        <div class="ss-twelvecol">
          <h1>Checkout</h1>
        </div>
      </div>

      <% if @order %>
        <div class="ss-row">
          <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
        </div>
      <% end %>
      
      <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
        <%= render "#{@order.state}", :form => form %>
      <% end %>
    </div>
    
  </section>
</div>




<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>

<% if I18n.locale != :en %>
  <script src="<%= assets_prefix %>/jquery.validate/localization/messages_<%= I18n.locale.to_s.downcase.gsub("-", "") %>.js"></script>
<% end %>
  

