<!-- Meta Tags -->
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="description" content="OneMoment Singapore Online Wedding Shop"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->

<!-- Title -->
<title>OneMoment | Online Wedding Services and Products</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
<link rel="icon" href="images/favicon.ico" type="image/x-icon"/>

<!--[if lte IE 9]
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,400italic,500italic,300italic' rel='stylesheet' type='text/css'>


<%= stylesheet_link_tag 'application', media: 'all' %>
<%= csrf_meta_tags %>

<%= yield :head %>