<div id="main-container" class="main-container ss-ajaxable" data-animation-type="fade-from-bottom" data-animation-speed="0.4" data-animation-out-speed="0.6">
  <section class="inner-wrapper">
    <%= render 'spree/shared/messages' %>
    <%= yield %>
  </section>
</div>