<div class="mobile-header">
  <a class="ss-mobile-menu-button" href="#menu"><span class="icon-menu6"></span></a>
  <a class="ss-mobile-menu sidebar-toggle-button ss-no-ajax" href="#"><span class="icon-menu"></span></a>
  <div class="logo">
      <a href="#" title="OneMoment">
        <%= image_tag 'logo.png', alt: 'OneMoment logo' %>
      </a>
      <span class="logo-slogan">Love And Harmony</span>
  </div>
</div>