<header class="main-header">
  <div id="main-header-scrollbar" class="main-header-scrollbar">
    <div class="handle">
      <div class="mousearea"></div>
    </div>
  </div>

  <div id="main-header-frame" class="main-header-frame" style="overflow: hidden;">

    <div class="header-wrapper">    

      <div class="cart-menu">
        <%= render 'shared/nav_login' %>
        <%= render 'shared/nav_cart' %>
      </div>

      <div class="logo">
        <a href="<%= root_path %>" title="OneMoment">
          <%= image_tag 'logo.png', alt: 'OneMoment logo' %>
          <div class="logo-separator"></div>
          <span class="logo-slogan">Create everlasting good memories</span>
        </a>
      </div>
      
      <div class="mobile-close-button">
        <a class="ss-no-ajax" href="#">
          <span class="icon-close2" aria-hidden="true"></span>
        </a>
      </div>

      <div class="header-menu">
        <nav class="main-navigation-container">
          <ul class="main-navigation">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'About us', about_path %></li>
            <li class="menu-item-has-children"><a href="#">Products</a>
              <ul class="sub-menu">
                <%= taxons_tree(product_category_taxon, @taxon, 1) if product_category_taxon %>
              </ul>
            </li>
            <li class="menu-item-has-children"><%= link_to 'Services (Available Soon)', services_path %>
              <ul class="sub-menu">
                <li><%= link_to 'Reception Theme Decoration', services_theme_decor_path %></li>
                <li><%= link_to 'Customise Stationaries for Events', services_customised_stationaries_path %></li>
                <li>
                  <%= link_to services_path do %>
                    Wedding Planning
                  <% end %>
                </li>
              </ul>
            </li>
            <li ><%= link_to 'Contact', contact_path %></li>
            <li class="menu-item-has-children"><a href="#">Information</a>
              <ul class="sub-menu">
                <li><%= link_to 'Privacy policy', privacy_path %></li>
                <li><%= link_to 'Terms & Conditions', terms_path %></li>
                <li><%= link_to 'Delivery', delivery_path %></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <div class="newsletter">
        <p>Sign up for newsletter</p>
        <%= form_for subscription, method: 'post' do |f| %>
          <%= f.text_field :email, id: "newsletter-input", placeholder: "email address..." %>
          <%= f.hidden_field :active, value: true %>
        <% end %>
      </div>

      <div class="social-media">
        <a href="https://www.facebook.com/profile.php?id=100007613178855"><span class="social-icon fb-icon"></span></a>
        <a href="https://onemomentsg.wordpress.com"><span class="social-icon wp-icon"></span></a>
        <a href="http://instagram.com/onemomentsg"><span class="social-icon ig-icon"></span></a>
      </div>

      <div class="copyright">Copyright © 2014. All Rights Reserved.</div>
    </div>

  </div><!--iframe-->
</header>
