<%= link_to "Track Order", 'http://www.ninjavan.sg/' %>
<% if spree_current_user %>
  <%= link_to 'Account', spree.account_path %>
  <%= link_to Spree.t(:logout), spree.logout_path %>
<% else %>
  <%= link_to Spree.t(:login), spree.login_path %>
<% end %>
