<% if product.variants_and_option_values(current_currency).any? %>
  <a href="<%= url %>"><span class="icon-cart" aria-hidden="true"></span> Add to Cart</a>
<% else %>
  <%= form_for :order, url: populate_orders_path, html: { id: "add-to-cart-#{product.id}" } do |f| %>
    <%= hidden_field_tag "variant_id", product.master.id %>
    <%= hidden_field_tag :quantity, 1 %>
    <%= button_tag class: "product-add-to-cart" do %>
      <span class="icon-cart" aria-hidden="true"></span> Add to Cart
    <% end %>
  <% end %>
<% end %>