
<div class="ss-tile hover-size-1 ss-tile-grid-sizer full-hover hover-layout-6 image">
  <figure>
    <% url = product_url(product, :taxon_id => @taxon.try(:id)) %>
    <%= link_to grid_image(product, :itemprop => "image"), url, :itemprop => 'url' %>
  </figure>
  <div class="ss-tile-caption" data-hover-bg-color="" data-hover-color="">
    <div class="ss-tile-caption-inner">
      <div class="ss-tile-caption-inner-content">
        <div class="ss-tile-hover-content-wrapper">
          <%= link_to product_path(product) do %>
            <h1 class="ss-tile-hover-title"> <%= product.name %> </h1>
          <% end %>
          <div class="hover-separator"></div>
          <div class="item-buttons">
            <div class="item-view">
              <a href="<%= url %>">
                <span class="icon-search2" aria-hidden="true"></span> View Product
              </a>
            </div>
            <div class="item-link">
              <%= render partial: 'taxons/product_add_to_cart', locals: { url: url, product: product } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>