<div class="ss-tile hover-size-2 full-hover hover-layout-3 only-hover info">
    <figure>
        <%= image_tag "services-2.jpg", alt: "services-2" %>
    </figure>
    <div class="ss-tile-caption" data-hover-bg-color="rgba(255,255,255,0.67)">
        <div class="ss-tile-caption-inner">
            <div class="ss-tile-caption-inner-content">
                <div class="ss-tile-hover-content-wrapper">
                    <a href="<%= services_customised_stationaries_path %>">
                        <h1 class="ss-tile-hover-title ss-tile-hover-services-title">
                            Customise Stationaries for Events Services
                            <span class="ss-tile-hover-arrow-button"></span>
                        </h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>