<div class="ss-tiles-container ">
  <div class="ss-tiles-inner-container isotope ss-animatable ss-has-children">

    <% services = [1,2,3] %>

    <% if @products.any? %>
      <% @products.each_with_index do |product, index| %>

        <%= render partial: 'home/product_tile', locals: { product: product } %>
        <% if services.any? and (index == 1 || index == 2 || index == 3 || index == 7) %>
          <%= render partial: "home/service_tile_#{services.shift}" %>    
        <% end %>
      <% end %>

      <% if services.any? %>
        <% services.each do |service_index| %>
          <%= render partial: "home/service_tile_#{service_index}" %> 
        <% end %>
      <% end %>
    <% else %>
      <% services.each do |index| %>
        <%= render partial: "home/service_tile_#{index}" %>
      <% end %>
    <% end %>
      

  </div>
</div>