<div class="about-page page-container ss-typography">
  <section class="inner-section ss-animatable ss-has-children">

    <div class="ss-row about-header">
      <div class="ss-twelvecol about-cover"></div>
    </div>

    <div class="ss-row about-title">
      <div class="ss-twelvecol">
        <h1>About Us</h1>
        <div class="separator"></div>
        <h4>Coming Together. Building Together. The One Moment.</h4>
      </div>
    </div>

    <div class="ss-row about-description">
      <div class="ss-twelvecol">
        <p>
          Life changing experiences from each individual. The sparks of a moment when we put our heads together. A team of professionals from diverse backgrounds and expertise came together to create OneMoment. Every one of us has the belief that every being in the world has their own distinct and unique life events and experiences that will always be remembered; be it the 21st birthday party, the corporate promotion, the big wedding day or the day when we cuddled our first newborn. These wonderful events can always be recollected because each of us has registered many of this special OneMoment in our vast memory throughout our life journey. Thus, our team in OneMoment wishes to help build and create ever more meaningful moments for our group of customers through our array of services; embedding happiness and joy in your special moments to last a lifetime.
        </p>
      </div>
    </div>

    <br/><br/><br/><br/><br/>

    <div class="ss-row about-title">
      <div class="ss-twelvecol">
        <h1>Our Products &amp; Services</h1>
        <div class="separator"></div>
        <h4>Creating Happiness. Sharing Joy. That OneMoment.</h4>
      </div>
    </div>

    <div class="ss-row about-description">
      <div class="ss-twelvecol">
        <p>
          We are here to assist and provide you with various themed reception setup services for your special occasion or *corporate event; that OneMoment to visually awe and create a personal touch in welcoming your friends, families or guests. Like a special companion, we are here to fulfil your decorative dreams turning them to reality so that you can enjoy the most of all your precious moments in the occasion.
        </p>
        <p>
          At OneMoment, we aimed to be one of the finer theme décor specialists for receptions to design unique themes for our customers. We invest a great deal of time and effort in researching what are the best products to bring to our themes; with the help of our dedicated team of buyers. Some products are specially created and handmade; making sure that not only do they suit your occasion but allow you to bring the items back as fond memories.
        </p>
        <p>
          If you enjoy preparing and setting up the occasion yourself, our variety of products such as decorative items, floral displays, stationeries and etc. are available for your individual purchase online or for packaged rental; helping you to take that baby steps towards creating your very own beautiful moment. Click here to find out more.
        </p>
        <p style="font-style: italic;">
          *Available soon
        </p>
      </div>
    </div>

    

  </section>
</div>







