<div class="page-container ss-typography info-page">
  <section class="inner-section ss-animatable ss-has-children">
    <div class="ss-row">
      <div class="ss-twelvecol info-cover"></div>
    </div>

    <div class="ss-row">
      <div class="ss-twelvecol info">
        <h1>Delivery</h1>
        
<br/><br/>
<p align="center">
    <strong><em><u>SELF-COLLECTION</u></em></strong>
</p>
<p>
    <strong><em> </em></strong>
</p>
<p>
    All <strong>Rental Packages</strong> require self-collection so that you can help yourself to check the items are in good condition &amp; acknowledge the
    loan form during collection.
</p>
<p>
    Self-collection is also allowed for ‘Ala-Carte’ product purchases upon shopping cart checkout.
</p>
<p>
    OneMoment will ensure that each item will be properly packed for you to have a smooth self-collection process.
</p>
<br/><br/>
<p align="center">
    <strong><em><u>COURIER SERVICE</u></em></strong>
    <u></u>
</p>
<p>
    One Moment Pte Ltd engages delivery professional <a href="http://www.ninjavan.sg/#/">Ninja Van</a> to safely send your purchases to your premises. Please
    kindly allow 2-5 working days* you’re your parcel to arrive after your order has been processed by us.
</p>
<p>
    Additional charge for re-delivery will be levied should no one be present to receive the delivery package. Please provide your mobile number together with
    your address upon checkout so that the courier can reach you in any unforeseen circumstances. Delivery to certain specific locations such as Airport, Army
    Camps, Sentosa and etc. will incur additional costs.
</p>
<p>
    *Working days refer to Monday - Friday only (excluding public holidays).
</p>

      </div>
    </div>
  </section>
</div>