<div class="page-container ss-typography info-page">
  <section class="inner-section ss-animatable ss-has-children">
    <div class="ss-row">
      <div class="ss-twelvecol info-cover"></div>
    </div>

    <div class="ss-row">
      <div class="ss-twelvecol info">
        <h1>Privacy Policy</h1>

<p>
    <strong><u>POLICY APPLICATION</u></strong>
    <strong>
        <u>
            <br/>
        </u>
    </strong>
</p>
<p>
    One Moment<em> (One Moment Pte Ltd)</em> respects the privacy rights of our customers and we will only track statistics for business purposes. No private
    information will be disclosed to unrelated entities or any third party merchants unless required by law. All email addresses in our mailing list are
    strictly kept confidential.
    <br/>
    <br/>
    This Privacy Policy applies to personal data collected, stored, disclosed and/or processed by One Moment.
    <br/>
    <br/>
    This Policy is based on the Singapore Personal Data Protection Act 2012 ("PDPA") and all the associated regulations and guidelines as may from time to time
    be issued by the Personal Data Protection Commission ("PDPC") of Singapore. One Moment’s practices may be subjected to different or more restrictive local
    laws in jurisdictions outside of Singapore.
</p>
<p>
    <br/>
    By visiting or using the One Moment website, you agree to the terms of this Privacy Policy. Please review this Privacy Policy carefully before visiting,
    using our website, or providing us with any of your personal data.
</p>
<p>
    <br/>
    Information is collected from you when you subscribe to our newsletter; fill out any forms and via cookies. Data that One Moment collects or stores may,
    subject to applicable law and the PDPA, be transferred to and used by us outside of Singapore. It will be treated according to the privacy practices set
forth in this Privacy Policy. You can opt-out of Google Analytics for Display Advertising and customize Google Display Network ads using the    <u>Ads Settings</u>.
</p>
<p>
    <br/>
    We do not facilitate the merging of personally identifiable information with non-personally identifiable information previously collected from Display
    Advertising features that is based on the DoubleClick cookie.
    <br/>
    <br/>
    Please visit <u>Google Analytics opt-out browser add-on</u> to opt-out of this data collection process.
</p>
<p>
    <strong><u>PERSONAL DATA</u></strong>
</p>
<p>
    It is possible that this website
</p>
<p>
    · Uses Remarketing with Google Analytics to advertise online.
</p>
<p>
    · Third-party vendors, including Google, show ads on sites across the Internet.
</p>
<p>
    · We and third-party vendors, including Google, use first-party cookies (such as the Google Analytics cookie) and third-party cookies (such as the
    DoubleClick cookie) together to inform, optimize, and serve ads based on someone’s past visits to this website.
</p>
<p>
    <br/>
    Data from Google’s Interest-based advertising or 3rd-party audience data (such as age, gender and interests) with Google Analytics may be used to:
</p>
<p>
    · To personalize your experience (your information helps us to better respond to your individual needs)
</p>
<p>
    · To improve customer service (your information helps us to more effectively respond to your customer service requests and support needs)
</p>
<p>
    · To send periodic emails (The email address you provide may be used to send you information, respond to inquiries, and/or other requests or questions.)
</p>
<p>
    When ordering or registering on our site, personal data includes, among other things, your: name; street or mailing address; telephone number(s); email
    addresses; date of birth; gender; nationality; purchases of products; payment information; credit card numbers; marketing preferences; answers you provide
    to security questions (such as your mother's maiden name, the name of your pet, etc.); information used to provide products or services; information needed
    to administer rewards or loyalty programs, including transaction and correspondence details; and any other types of information that you choose to provide
    to us or that we may collect about you through your transactions with One Moment.
    <br/>
    <br/>
    Information collected under One Moment will be retained under the authority of One Moment Pte Ltd. In the event of a sale of any One Moment Pte Ltd’s asset
    including customer information, buyers will be required to honor our Privacy Policy or provide you a notice and option to limit the sharing of your
    information. You may, however, visit our site anonymously.
</p>
<p>
    <strong>
        <em>
            <br/>
            Note:
        </em>
    </strong>
    <em>
        If at any time you would like to unsubscribe from receiving future email notifications, we have included detailed unsubscribe instructions at the
        bottom of each email.
    </em>
</p>
<p>
    <strong><em><u>PROTECTION OF INFORMATION</u></em></strong>
</p>
<p>
    We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal
    information.
</p>
<p>
    <strong><em><u>USAGE OF COOKIES</u></em></strong>
</p>
<p>
    When you visit our website, we may assign your computer one or more "cookies." By accessing our website, you agree that we can place cookies on your
    device.
</p>
<p>
    <br/>
    This website and third-party vendors, including Google, may use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as
    the DoubleClick cookie) together to report how our ad impressions, other uses of ad services, and interactions with these ad impressions and ad services
    are related to visits to this website. Also, this information will be used to enhance your shopping experience.
</p>
<p>
    <br/>
    A cookie is a small text file that contains information that can later be read by us to facilitate your access to our website, gather statistical data, and
    personalize your online experience. We currently use cookies on our website for purposes including, but not limited to, detecting your web browser's
    multimedia capabilities, tracking promotional advertisements that we have displayed to you, maintaining current login and providing a unique identifier to
    your computer so that we can generate statistics regarding website usage.
</p>
<p>
    <br/>
    Most browsers automatically accept cookies, but you can modify your browser setting to decline cookies. Generally, you can remove these cookies by
    following directions provided in your Internet browser's "help" file. If you choose not to allow us to place a cookie on your computer, you may be
    restricted from some services and some of the interactive features offered on our websites may be similarly restricted or rendered inoperable.
</p>
<p>
    <br/>
    In addition to cookies, we may also use other Internet technologies, such as web beacons or pixel tags, and other similar technologies, to deliver or
    communicate with cookies and track your use of our website. The information we obtain in this manner enables us measure the overall effectiveness of our
    online content, advertising campaigns, and the products we offer through our website. By accessing our website and agreeing to receive our e-mail messages
    or newsletters, you agree to that we can use other Internet technologies such as those mentioned above on your device(s).
</p>
<p>
    <br/>
    Our website may allow third parties to download cookies to your device(s). Third parties, such as Google Analytics, may use cookies and other technologies
    to collect non-personal data about your online activities while you are on our website. This information may be used to measure usage of our website and
    personalize advertising content on our website. We do not have access to or control over cookies or other features these third parties may use, and this
    Privacy Policy does not cover the information practices of these third parties. Please refer to the privacy policies of those third parties to better
    understand their activities and practices.
</p>
<p>
    <strong><u>THIRD PARTY LINKS</u></strong>
</p>
<p>
    Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and
    independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek
    to protect the integrity of our site and welcome any feedback about these sites.
</p>
<p>
    <strong><u></u></strong>
</p>
<p>
    <strong><u></u></strong>
</p>
<p>
    <strong><u></u></strong>
</p>
<p>
    <strong><u>NON-DISCLOSURE AGREEMENT</u></strong>
</p>
<p>
    We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who
    assist us in operating our website, conducting our business, or servicing you, as long as these parties agree to keep this information confidential. We may
    also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect others and ours rights,
    property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
</p>
<p>
    <strong><u>OPT-OUT</u></strong>
</p>
<p>
If you do not want your personal data to be shared among affiliates, you may opt-out of such information sharing by sending us an email at    <em>privacy@</em><em>onemoment.com</em>. Please note that if you withdraw your consent for a limited purpose, such as for marketing, we may still contact
    you or use your information for other purposes for which you have not withdrawn your consent and such personal data may still be shared, as permitted under
    the PDPA and other applicable law. If you do not wish to receive any further information from One Moment regarding launches, offers, promotions or special
    events via email, you may unsubscribe by clicking the unsubscribe link in our mailers.
</p>
<p>
    <strong><u>USAGE OF SITE</u></strong>
</p>
<p>
    ONE MOMENT may feature pictures, articles, information, digital images, text, data, games, surveys, contests, promotions, advertising, logos, trademarks
    and other forms of content* we deem will be of interest to our customers or visitors. This Content can be viewed, transferred, shared and stored by our
    customers and guest. However, the ownership of this Content belongs to onemoment and by downloading or storing of this Content does not render the customer
    or visitor the rights nor ownership to it.
</p>
<p>
    <em></em>
</p>
<p>
    <em>
        *Collectively, content composite one or more of the following - text, data, music, sound, graphics, images, pictures, photographs, videos, software or
        other forms later created or not known at this time.
    </em>
    <br/>
    <br/>
    Content extracted from Onemoment.com and published or shared on any platforms must be credited. One Moment Pte Ltd reserves the rights to pursue legal
    actions against unauthorized usage of this Content.
</p>
<p>
    <strong><u>SECURITY</u></strong>
</p>
<p>
    One Moment practices reasonable precautions to protect your personal data and store it securely. However, you should be aware that no method of
    transmission over the Internet or method of electronic storage has 100% security. While security cannot be guaranteed, we strive to protect the security of
    your information and are constantly reviewing and enhancing our information security measures. One Moment’s website has security measures in place that
    strive to protect against the accidental loss, misuse, and unauthorized access to your personally identifiable information while under our control. Such
    security measures include, but are not limited to, password controls, firewalls, and other industry standard security measures.
</p>
<p>
    <strong><u>PRIVACY POLICY AMENDMENTS</u></strong>
</p>
<p>
    One Moment (One Moment Pte Ltd) reserves the rights to amend any of the policies above at any time. The Effective Date, as stated below, indicates the last
    time this policy was materially revised. We encourage you to review this page periodically as changes may be made to our policy from time to time regarding
    the collection and use of your personal data.
</p>
<p>
    <br/>
    Your continued use of our website and acceptance of our services after any changes to this Privacy Policy constitutes your consent to any such changes; to
    the extent such consent is not otherwise provided.
</p>
<p>
    <em>[Last updated</em>
    <em> 5 Sept 2014]</em>
</p>

      </div>
    </div>
  </section>
</div>