<div class="page-container ss-typography services-page">
  <section class="inner-section ss-animatable ss-has-children">
    <h1 class="product-section-title">Reception Theme Decor Packages</h1>
    <div class="intro">
      <p style="text-align: center;">One Moment offers you 5 different themes packages. Click on each of the theme package below and find out the details on what we offer.</p>
    </div>

    <div class="services">
      <div class="ss-row theme-1">
        <div class="ss-sixcol service-desc">
          <h2><%= link_to "Vintage Nautical", services_theme_nautical_path %></h2>
        </div>
        <div class="ss-sixcol ss-last"></div>
      </div>

      <div class="ss-row theme-2">
        <div class="ss-sixcol"></div>
        <div class="ss-sixcol ss-last service-desc">
          <h2><%= link_to "Sweet Romance", services_theme_romance_path %></h2>
        </div>
      </div>

      <div class="ss-row theme-3">
        <div class="ss-sixcol service-desc">
          <h2><%= link_to "Gorgeous Glamor", services_theme_glamor_path %></h2>
        </div>
        <div class="ss-sixcol ss-last"></div>
      </div>

      <div class="ss-row theme-4">
        <div class="ss-sixcol"></div>
        <div class="ss-sixcol ss-last service-desc">
          <h2><%= link_to "Summer Splendor", services_theme_summer_path%></h2>
        </div>
      </div>

      <div class="ss-row theme-5">
        <div class="ss-sixcol service-desc">
          <h2><%= link_to "Modern Asian", services_theme_asian_path%></h2>
        </div>
        <div class="ss-sixcol ss-last"></div>
      </div>

      <div class="ss-row more-services">
        <h3>New Themes Coming Soon!</h3>
      </div>

    </div>

  </section>
</div>

<%= render 'shared/back' %>