<div class="page-container ss-typography services-page">
  <section class="inner-section ss-animatable ss-has-children">
    <h1 class="product-section-title">Wedding Planning</h1>
    <div class="intro">
      <p style="text-align: center;">Please bear with us, we are upgrading to serve you better.</p>
    </div>

    <%= render 'shared/back' %>

  </section>
</div>