<div class="page-container ss-typography services-page">
  <section class="inner-section ss-animatable ss-has-children">
    <h1 class="product-section-title">Services</h1>
    <div class="intro">
      <p>We are here to assist and provide you with various Themed Reception Setup services for your special occasion or corporate event; that OneMoment to visually awe and create a personal touch in welcoming your friends, families or guests. We want to partner you as our clients and create those joyful and lovely moments together.</p>
    </div>

    <div class="services">
      <div class="ss-row service-1">
        <div class="ss-sixcol service-desc">
          <h2><%= link_to "Themed Reception Decoration Services", services_theme_decor_path %></h2>
        </div>
        <div class="ss-sixcol ss-last"></div>
      </div>

      <div class="ss-row service-2">
        <div class="ss-sixcol"></div>
        <div class="ss-sixcol ss-last service-desc">
          <h2><%= link_to "Stationeries Customization", services_customised_stationaries_path %></h2>
        </div>
      </div>

      <div class="ss-row service-3">
        <div class="ss-sixcol service-desc">
          <h2><%= link_to "Wedding Planning", services_wedding_planning_path %></h2>
        </div>
        <div class="ss-sixcol ss-last"></div>
      </div>
    </div>

  </section>
</div>