<div class="page-container ss-typography theme-package-pricing-page">
  <section class="inner-section ss-animatable ss-has-children">

    <div class="ss-row glamor-header">
      <div class="ss-twelvecol glamor-cover"></div>
    </div>
    <h1 class="product-section-title">Gorgeous Glamor Theme Package Pricing</h1>

    <div class="ss-row theme-description">
      <div class="ss-twelvecol">
        <p>
         A black-and-white decor scheme never goes out of style. Whether you're planning a mod, wedding party, a party with 60s feel, or just want to give your event a slick, classic look, Black and white themed with a touch of gold will always give your party a stylish yet sophisticated feel...
        </p>
      </div>
    </div>

    <div class="ss-row theme-pricing">


      <div class="ss-threecol">
        <h2>Rental Classic Package</h2>
        <div class="price-wrapper">
          <h4>SGD$568 Nett</h4>
        </div>
        <ul class="package-details">
          <li>Décor set (PDF)</li>
          <li>Classic Wedding cards x 80 pcs</li>
          <li>Place cards x 80 pcs</li>
          <li>Fresh Flower Arrangement x 1</li>
          <li>Ang Bao Box x 1</li>
        </ul>
        <div class="order">
          <a href="<%= service_order_path({ select: "GG Theme Rental Classic Package" }) %>" class="ss-button">Place Order</a>
        </div>
        <div class="download">
          <a href="" class="ss-button">Download PDF</a>
        </div>  
      </div>


      <div class="ss-threecol">
        <h2>Rental Premium Package</h2>
        <div class="price-wrapper">
          <h4>SGD$1088 Nett</h4>
        </div>
        <ul class="package-details">
          <li>Décor set (PDF)</li>
          <li>Fresh Flower Arrangement x 2</li>
          <li>Helium Balloon x 1</li>
          <li>Premium Wedding Cards x 120pcs</li>
          <li>Premium Place Cards x 120pcs</li>
          <li>Ang Bao Box x 1</li>
        </ul>
        <div class="order">
          <a href="<%= service_order_path({ select: "GG Theme Rental Premium Package" }) %>" class="ss-button">Place Order</a>
        </div>
        <div class="download">
          <a href="" class="ss-button">Download PDF</a>
        </div>  
      </div>



      <div class="ss-threecol">
        <h2>Full Classic Package</h2>
        <div class="price-wrapper">
          <h4>SGD$1368 Nett</h4>
        </div>
        <ul class="package-details">
          <li>Décor set (PDF)</li>
          <li>Classic Wedding invitation cards x 120 pcs</li>
          <li>Place cards x 120 pcs</li>
          <li>Dining Menu x 60pcs</li>
          <li>Fresh Flower Arrangement x 2</li>
          <li>Ang Bao Box x 1</li>
          <li>Come with consultations, delivery and setup services</li>
        </ul>
        <div class="order">
          <a href="<%= service_order_path({ select: "GG Theme Full Classic Package" }) %>" class="ss-button">Place Order</a>
        </div>
        <div class="download">
          <a href="" class="ss-button">Download PDF</a>
        </div>
      </div>


      <div class="ss-threecol ss-last">
        <h2>Full Premium Package</h2>
        <div class="price-wrapper">
          <h4>SGD$2518 Nett</h4>
        </div>
        <ul class="package-details">
          <li>Décor set (PDF)</li>
          <li>Fresh Flower Arrangement x 2</li>
          <li>Helium Balloon x 2</li>
          <li>Premium Wedding Cards x 150pcs</li>
          <li>Premium Place Cards x 150pcs</li>
          <li>Dining Menu x 90pcs</li>
          <li>Ang Bao Box x 1</li>
          <li>Come with consultations, delivery and setup services</li>
        </ul>
        <div class="order">
          <a href="<%= service_order_path({ select: "GG Theme Full Premium Package" }) %>" class="ss-button">Place Order</a>
        </div>
        <div class="download">
          <a href="" class="ss-button">Download PDF</a>
        </div>  
      </div>
      
    </div>

    <%= render 'shared/back' %>

  </section>
</div>