<div class="page-container ss-typography info-page">
  <section class="inner-section ss-animatable ss-has-children">
    <div class="ss-row">
      <div class="ss-twelvecol info-cover"></div>
    </div>

    <div class="ss-row">
      <div class="ss-twelvecol info">
        <h1>Terms &amp; Conditions</h1>


<p>
    <strong>1. </strong>
    <strong>HOW THE ORDER PROCESS WORK</strong>
</p>
<p>
    You'll receive a confirmation email from ONE MOMENT once your order is received, including the expected delivery date.
</p>
<p>
    To enable us to provide you with the best possible delivery experience, we may pass on your contact details to our carrier partners. These details may
    allow them to provide you with delivery updates via SMS (Text) and or E-mail.
</p>
<p>
    <a name="q2"></a>
    <strong>2. ORDER NOT RECEIVED, WHAT SHOULD YOU DO </strong>
</p>
<p>
    If your order has not arrived by the estimated delivery date, we're here to help. Before getting in contact with us, have you tried?
</p>
<p>
    1. Signing into <a href="/account">My Account</a> to check we have the correct delivery address for your order and your
    contact details are up to date.
</p>
<p>
    2. Checking if you have a text message, email or attempted delivery card from ONE MOMENT or one of our couriers. Your parcel may be awaiting collection at
    a local Post Office or delivery depot, or you may need to arrange redelivery.
</p>
<p>
    3. Checking with your family members or neighbors to see if they have accepted the parcel on your behalf.
</p>
<p>
    If you still can't find your parcel, please email us at <a href="mailto:cs@onemoment.com.sg">cs@onemoment.com.sg</a> and quote your order number and
    address. We'll reply as soon as we can and do our best to locate your parcel straightaway. If it cannot be found, we will arrange a replacement or refund
    for you<strong>.</strong>
</p>
<p>
    <a name="q3"></a>
    <strong></strong>
</p>
<p>
    <strong>3. DEFECT ITEMS OR INCORRECT ITEM IN ORDER, WHAT SHOULD YOU DO</strong>
</p>
<p>
We want to sort out any concerns with defect items right away. As soon as you discover a defect, please    <a href="/contact">contact</a> us at <a href="mailto:cs@onemoment.com.sg">cs@onemoment.com.sg</a> with the
    order number, the defect item’s name and quantity, and a description and/or photo of the defect within 3 days from the day of delivery. We’ll get back to
    you and send you a replacement item (if applicable) as quickly as we can.
</p>
<p>
    <a name="q4"></a>
</p>
<p>
    <a name="q5"></a>
    <strong>4. YOU FOUND MISSING ITEMS FROM YOUR ORDER, HOW DO I PROCEED?</strong>
</p>
<p>
    Due to bulk order processing, we may have sent your items in separate parcels so please check your emails to see if any of your items will be arriving
    separately.
</p>
<p>
    If your order has been sent in different parcels then each delivery note will tell you the items you can expect to find inside. Please check the delivery
    notes from each part of your order to make sure you're not missing anything.
</p>
<p>
    If an item is missing, please contact <a href="mailto:cs@onemoment.com.sg">cs@onemoment.com.sg</a> with the order number and the missing item's name and
    reference. We will resolve the concern for you as quickly as we can.
</p>
<p>
    <a name="q6"></a>
    <strong>5. HOW DOES OUR DELIVERY SERVICE WORK?</strong>
</p>
<p>
    We know how important it is to receive your items when you expect them, especially if you have ordered something for a specific occasion and event; we use
    an established network of couriers to deliver items from ONE MOMENT. We allocate the courier we believe will deliver your order to you in the quickest time
    depending on the size and weight of your parcel.
</p>
<p>
    You may have the items delivered to a wedding or event location, work address or home address. To ensure that the items are delivered correctly, our
    courier will require a signature on receipt. You can review our delivery options in more detail so you choose the one that best suits what you need.
</p>
<p>
    To enable us to provide you with the best possible delivery experience, we may pass on your contact details to our carrier partners. These details may
    allow them to provide you with delivery updates via SMS (Text) and or E-mail.
</p>
<p>
    <a name="q7"></a>
</p>
<p>
    <a name="q8"></a>
</p>
<p>
    <strong>6. I WANT TO CHANGE THE ADDRESS OF MY INTENDED DELIVERY, IS THAT POSSIBLE?</strong>
</p>
<p>
    Yes you can but you need to inform us as soon as possible. Once you have made the purchase, we will send you a confirmation email. If you have any changes
    made to the delivery address, you can contact us immediately within a day, so we can amend the address.
</p>
<p>
    Otherwise, we will have committed your first delivery address to our Courier and we will have to bill you for the second delivery made to your purchase.
</p>
<p>
    Payment for our collection service shall be borne by you and using the credit / debit card you would pay for normal goods and our terms of sale apply for
    this service. Please note, we do not accept gift vouchers or discounts as part or full payment for this service.
</p>
<p>
    <a name="q9"></a>
</p>
<p>
    <strong>9. CAN I DO A SELF COLLECT FOR MY GOODS?</strong>
</p>
<p>
    Of course! You can arrange for a self-collection with us. We can discuss and arrange a location which is convenience to all of us. .
</p>
<p>
    <a name="q10"></a>
    <strong></strong>
</p>


      </div>
    </div>
  </section>
</div>