<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h2>Contact from OneMoment.sg</h2>
  <hr>
  <h4>Email:</h4>
  <p> <%= @email %> </p>
  <hr>
  <h4>Phone:</h4>
  <p> <%= @phone %> </p>
  <hr>
  <h4>Services:</h4>
  <p> <%= @service %> </p>
  <hr>
  <h4>Messages:</h4>
  <p> <%= @message %> </p>
</body>
</html>