<div class="contact-page page-container ss-typography">
  <section class="inner-section ss-animatable ss-has-children">

    <div class="contact-box">

      <div class="ss-row contact-header">
        <div class="ss-twelvecol">
          <h1>Contact Us</h1>
        </div>
      </div>

      <div class="ss-row contact-description">
        <div class="ss-twelvecol">
          <p>Drop us a message or email to enquire on services that you like to know or any other questions you may have.</p>
        </div>
      </div>

      <div class="ss-row contact-email-us">
        <div class="ss-fivecol">
          <p>E-mail us at</p>
        </div>
        <div class="ss-sevencol ss-last">
          <span class="email-icon"></span>
          <a href="mailto:contact@onemoment.com.sg">contact@onemoment.com.sg</a>
        </div>
      </div>

      <%= form_tag "/contact", method: 'post' do |f| %>
        <div class="ss-row contact-message">
          <div class="ss-fivecol">
            <p>Or drop us a message</p>
          </div>
          <div class="ss-sevencol ss-last">
            <input type="text" name="email" placeholder="your email address..." required>
            <input type="text" name="phone" placeholder="your phone..." required>
            <select name="service" required>
              <option value="">-- Select a Service --</option>
              <option value="Product Enquiries">Product Enquiry</option>
              <option value="Marketing Enquiries">Marketing Enquiry</option>
              <option value="Partnership Enquiries">Partnership Enquiry</option>
              <option value="Other Enquiries">Other Enquiry</option>
            </select>
            <textarea name="message" placeholder="drop us a message..." rows="10" cols="50"></textarea>
          </div>
        </div>

        <div class="ss-row contact-submit">
          <div class="ss-twelvecol">
            <input type="submit" class="button gray" value="Submit">
          </div>
        </div>

      <% end %>

    </div>

  </section>
</div>