<div class="register-page page-container ss-typography">
  <section class="inner-section ss-animatable ss-has-children">

    <% @body_id = 'signup' %>
    
    <div id="new-customer">
      <h2><%= Spree.t(:new_customer) %></h2>
      
      <% if @user && @user.errors.any? %>
        <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
      <% end %>

      <div class="signup">
        <%= form_for resource, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
          <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
          <p class="submit"><%= f.submit Spree.t(:create), :class => 'button primary' %></p>
        <% end %>

        <div class="register-or">
          <%= Spree.t(:or) %>&nbsp;<%= link_to Spree.t(:login_as_existing), spree.login_path %>
        </div>
      </div>

    </div>

  </section>
</div>