.ss-preloader {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.ss-preloader-spin {
  border-bottom: 2px solid #e4e4e4;
  border-left: 2px solid #e4e4e4;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-radius: 100%;
  height: 60px;
  width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
  -webkit-animation: spin .6s infinite linear;
  -moz-animation: spin .6s infinite linear;
  -ms-animation: spin .6s infinite linear;
  -o-animation: spin .6s infinite linear;
  animation: spin .6s infinite linear;
}
.ss-preloader-ajax {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
}
.ss-preloader-spin-ajax {
    /* position: absolute; */
    position: fixed;
    margin-left: 100px;
    display: none;
}

@keyframes spin {
 from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
 }
 to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
 }
}

@-moz-keyframes spin {
 from {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -moz-transform: rotate(359deg);
   transform: rotate(359deg);
 }
}

@-webkit-keyframes spin {
 from {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -webkit-transform: rotate(359deg);
   transform: rotate(359deg);
 }
}

@-ms-keyframes spin {
 from {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
 }
}

@-o-keyframes spin {
 from {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -o-transform: rotate(359deg);
   transform: rotate(359deg);
 }
}