<% if target && target.errors.any? %>
  <div class="alert-message error errors">
    <span class="alert-icon icon-close"></span>
    <span><%= Spree.t(:there_were_problems_with_the_following_fields) %>:</span><br/>
    <span class="error-message">
      <% target.errors.full_messages.each do |msg| %>
        <%= "#{msg} <br/>".html_safe %>
      <% end %>
    </span>
  </div>
<% elsif flash[:error] %>
  <div class="alert-message error errors">
    <span class="alert-icon icon-close"></span>
    <span><%= Spree.t(:there_were_problems_with_the_following_fields) %>:</span><br/>
    <span class="error-message">
      <%= flash[:error] %>
    </span>
  </div>
<% end %>