<%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
  <div id="password-credentials">
    <p>
      <span class="user-icon"></span>
      <%= f.email_field :email, :class => 'title', :tabindex => 1, autofocus: true, placeholder: "email address..." %>
    </p>
    <p>
      <span class="password-icon"></span>
      <%= f.password_field :password, :class => 'title', :tabindex => 2, placeholder: "password..." %>
    </p>
  </div>
  <p>
    <%= f.check_box :remember_me, :tabindex => 3 %>
    <%= f.label :remember_me, Spree.t(:remember_me) %>
  </p>

  <p><%= f.submit Spree.t(:login), :class => 'button primary', :tabindex => 4 %></p>
<% end %>
