<div id="password-credentials">
  <p>
    <span class="user-icon"></span>
    <%= f.email_field :email, :class => 'title', placeholder: "email address..." %>
  </p>
  <p>
    <span class="password-icon"></span>
    <%= f.password_field :password, :class => 'title', placeholder: "password..." %>
  </p>

  <p>
    <span class="password-icon"></span>
    <%= f.password_field :password_confirmation, :class => 'title', placeholder: "re-type password..." %>
  </p>
</div>
