<%= form_for :order, :url => populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <% if @product.variants_and_option_values(current_currency).any? %>
      <div id="product-variants" class="product-features-options">
        <h2>Options</h2>
        <ul>
          <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
            <li>
              <%= radio_button_tag "variant_id", variant.id, index == 0, 'data-price' => variant.price_in(current_currency).money  %>
              <%= label_tag "variant_id_#{ variant.id }" do %>
                <span class="variant-description">
                  <%= variant_options variant %>
                </span>
                <% if variant_price variant %>
                  <span class="price diff"><%= variant_price variant %></span>
                <% end %>

                <% unless variant.can_supply? %>
                  <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                <% end %>
              <% end %>
            </li>
          <% end%>
        </ul>
      </div>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>

    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <div data-hook="product_price" class="columns five <% if !@product.has_variants? %> alpha <% else %> omega <% end %>">

        <div class="ss-row">
          <div id="product-price" class="ss-fivecol product-form" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
            <div class="product-price">
              <span><%= current_currency %></span>
              <span class="price selling" itemprop="price">
                <%= display_price(@product) %>
              </span>
              <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
            </div>

            <% if @product.master.can_supply? %>
              <link itemprop="availability" href="http://schema.org/InStock" />
            <% elsif @product.variants.empty? %>
              <br />
              <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
            <% end %>
          </div>

          <div class="ss-sevencol ss-last product-form" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
            <div class="add-to-cart">
              <%= number_field_tag :quantity, 1, :class => 'title', :min => 1 %>
              <%= button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do %>
                <span class="icon-cart" aria-hidden="true"></span> Add to Cart
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
        <div id="product-price">
          <br>
          <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
        </div>
    <% end %>
  </div>
<% end %>
