<div id="main-image">
  <% if defined?(image) && image %>
    <%= image_tag image.attachment.url(:large), :itemprop => "image", class: "product-main-image image-popup" %>
  <% else %>
    <a class="image-popup" href="<%= @product.images.first.attachment.url(:original) %>">
      <%= large_image(@product, class: "product-main-image") %>
    </a>
  <% end %>
</div>