<% unless @product_properties.empty? %>  
  <div class="product-features-options">
    <% unless properties_blank?(@product) %>
      <h2>Features</h2>
      <% @product_properties.each do |product_property| %>
        <% if product_property.value && product_property.value != "" %>
          <p>
            <%= product_property.property.presentation %>:
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%= product_property.value %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>