<%# no need for thumbnails unless there is more than one image %>
<div class="thumbnails">
  <% if (@product.images + @product.variant_images).uniq.size > 1 %>
    <div id="product-thumbnails" class="ss-row">

      <% thumbnails = [] %>
      <% @product.images.each { |i| thumbnails << i } %>
      <% if @product.has_variants? %>
        <% @product.variant_images.each do |i| %>
          <% next if @product.images.include?(i) %>
          <% thumbnails << i %>
        <% end %>
      <% end %>
      <% thumbnails.each_with_index do |t, index| %>
        <div class='thumbnail ss-fourcol <%= (index < @product.images.count) ? "tmb-all" : "vtmb" %> tmb-<%= t.viewable.id %>' style="display: block;">
          <%= link_to(image_tag(t.attachment.url(:product)), t.attachment.url(:large), "data-original-image" => t.attachment.url(:original) ) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>