<% cache [I18n.locale, current_currency, @product] do %>

  <div class="page-container ss-typography">
    <section class="inner-section ss-animatable ss-has-children">
      <h1 class="product-section-title"><%= @product.name %></h1>
      <div class="product-section-title-separator"></div>
      <h6 class="product-section-title"><%= @taxon.name %></h6>

      <div class="ss-row">
        <div class="ss-sixcol" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
          <div id="product-images">
            <%= render 'products/image' %>
            <%= render 'products/thumbnails' %>
          </div>
        </div>

        <div class="ss-sixcol ss-last" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
          <div class="product-description">
            <p><%= @product.description.html_safe %></p>
          </div>

          <%= render 'products/properties' %>
          <%= render 'products/cart_form' %>
          <%= render 'shared/back' %>

        </div>
      </div>

    </section>
  </div>

<% end %>