<div class="login-page page-container ss-typography">
  <section class="inner-section ss-animatable ss-has-children">

    <% @body_id = 'login' %>
    <div id="existing-customer">
      <h2><%= Spree.t(:login_as_existing) %></h2>

      <% if flash[:error] %>
        <div class="flash errors"><%= flash[:error] %></div>
      <% end %>
      <div class="login">
        <%= render :partial => 'spree/shared/login' %>
        <div class="login-or">
          <p>- OR -</p>
        </div>
        <div class="login-links">
          <p>
            <%= link_to Spree.t(:create_a_new_account), spree.signup_path %>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
          </p>
        </div>
      </div>
    </div>
    
  </section>
</div>