<!DOCTYPE html>
<html lang="en">
<head>
  <%=  render 'shared/head' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

  <%=  render 'shared/preloader' %>
  <%=  render 'shared/nav' %>
  <%=  render 'shared/wrapper' %>

  <div class="google-analytics">
    <%= render :partial => 'spree/shared/google_analytics' %>
  </div>
</body>
</html>